*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
color:#333;
}

header{
background:#0d1b2a;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-weight:bold;
}

nav a:hover{
color:#00c853;
}

section{
padding:40px;
}

h2{
margin-bottom:20px;
color:#0d1b2a;
}

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.2);
flex:1;
min-width:250px;
}

img{
margin-right:10px;
border-radius:10px;
}

form{
background:white;
padding:20px;
border-radius:10px;
max-width:500px;
margin:auto;
box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

input,
textarea{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
}

button{
background:#00c853;
color:white;
border:none;
padding:12px 20px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#009624;
}

footer{
background:#0d1b2a;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}
